body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
  
    

}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;}


a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus {
    color: #4D5AE5;
}

a:active {
    color: #4D5AE5;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E2F42;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42
}

.logo-name {
    color: #4D5AE5;
}

.nav {
    list-style-type: none;
    text-transform: capitalize;
    text-decoration: none;
}



.address {
    text-decoration: none;
    list-style-type: none;
}

.address-link
{
    text-decoration: none;
}

.first-section {
background-color: #2E2F42;
}

h1 {
    color: #FFFFFF;
}

.button {
background-color:#4D5AE5;
color: #FFFFFF;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}